@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

body {
  margin: 0;
  height: 100vh;
  background-color: #e9eaec;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 3px;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% auto 10%;
  grid-template-rows: 11% 10% 10% auto 10% 12%;
  grid-template-areas:
    "header header header"
    "sidenav titu side"
    "sidenav titulo side"
    "sidenav content side"
    "sidenav titus  side"
    "footer footer footer";
}

#titulo {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

#header {
  grid-area: header;
  background-color: #294973;
  width: 100%;
}
#content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
}
#footer {
  grid-area: footer;
  background-color: #294973;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
#sidenav {
  grid-area: sidenav;
}

.block {
  min-width: 300px;
  height: 250px;
  border: 1px solid black;
  border-radius: 30px;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  flex: 1;
  background-color: #c4c4c4;
}

.block:hover {
  border: solid #cad9ec 2px;
}

.cabecalho {
  background-color: #294973;
  color: white;
  display: flex;
  flex-direction: row;
}

.MenuHorizontal {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-superior {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-top: 3%;
}

.nav-superior p {
  font-size: 1.3em;
  
}

.MenuHorizontal input {
  border: 0;
  height: 30px;
  width: 20%;
  border-radius: 20px;
  padding-left: 20px;
  margin-top: 3%;
}

.MenuHorizontal img {
  margin-right: 50px;
}

.nav-superior p:hover {
  text-shadow: 0.1em 0.1em 0.2em black;
}

.login {
  width: 89px;
  height: 68px;
}

.logo {
  border-radius: 70%;
  width: 120px;
  height: 100px;
  margin-top: 3%;

}

.fotoAjude {
  border-radius: 50px;
  width: 89px;
  height: 68px;
  border: 2px solid #000000;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.essa {
  display: inline-flex;
  padding: 10px;
}

.titu {
  padding-left: 15px;
}

