@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

body {
  margin: 0;
  height: 100vh;
  background-color: #e9eaec;
  font-family: "Alfa Slab One", cursive;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% auto 10%;
  grid-template-rows: 11% 10% 10% auto 10% 12%;
  grid-template-areas:
    "header header header"
    "sidenav titu side"
    "sidenav titulo side"
    "sidenav content side"
    "sidenav titus  side"
    "footer footer footer";
}

#titulo {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

#header {
  grid-area: header;
  background-color: #294973;

}
#content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
}
#footer {
  grid-area: footer;
  background-color: #294973;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
#sidenav {
  grid-area: sidenav;
}

.block {
  min-width: 300px;
  height: 250px;
  border: 1px solid black;
  border-radius: 30px;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  flex: 1;
  background-color: #c4c4c4;
}

.cabecalho {
  background-color: #294973;
  color: white;
}

.MenuHorizontal li {
  display: inline;
  list-style-type: none;
  padding: 50px;
  font-size: 30px;
}

.MenuHorizontal li:hover {
  text-shadow: 0.1em 0.1em 0.2em black
  
}

.login {
  width: 89px;
  height: 68px;
  
}

.logo {
  border-radius: 80%;
  width: 189px;
  height: 126px;
}